<a href="https://colab.research.google.com/github/itsmeumaima/EDA_datasets/blob/main/FlightPricePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
train_df=pd.read_csv("Data_Train.csv")
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [ ]:
test_df=pd.read_csv("Test_set.csv")
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL ? BOM ? COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? MAA ? BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL ? BOM ? COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL ? BOM ? COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR ? DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Date_of_Journey  2671 non-null   object
 2   Source           2671 non-null   object
 3   Destination      2671 non-null   object
 4   Route            2671 non-null   object
 5   Dep_Time         2671 non-null   object
 6   Arrival_Time     2671 non-null   object
 7   Duration         2671 non-null   object
 8   Total_Stops      2671 non-null   object
 9   Additional_Info  2671 non-null   object
dtypes: object(10)
memory usage: 208.8+ KB

In [ ]:
final_df=pd.concat([train_df,test_df])
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.7+ MB

In [ ]:
final_df.shape

(13354, 11)

In [ ]:
final_df.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

**Starting the feature engineering**
Converting the Date_of Journey column to int by seperating the day,month and year

In [ ]:
final_df['Date']=final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month']=final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year']=final_df['Date_of_Journey'].str.split('/').str[2]

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  object
 12  Month            13354 non-null  object
 13  Year             13354 non-null  object
dtypes: float64(1), object(13)
memory usage: 2.0+ MB

In [ ]:
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [ ]:
final_df['Date']=final_df['Date'].astype(int)

In [ ]:
final_df['Month']=final_df['Month'].astype(int)
final_df['Year']=final_df['Year'].astype(int)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int64
 12  Month            13354 non-null  int64
 13  Year             13354 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

In [ ]:
final_df.drop('Date_of_Journey',axis=1,inplace=True)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int64
 11  Month            13354 non-null  int64
 12  Year             13354 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 1.9+ MB

**For the arrival time feature:**
We don't need the date like 22,March so we remove this.

In [ ]:
final_df['Arrival_Time'].unique().sum()

'01:10 22 Mar13:1504:25 10 Jun23:3021:3511:2510:25 13 Mar05:05 02 Mar19:1523:0022:5513:5509:20 10 May19:5019:15 04 Mar12:35 13 Jun19:15 13 Jun12:35 28 May19:2013:20 19 Mar06:5021:5008:15 07 May12:35 10 Jun03:35 02 Jun12:5512:3509:2023:1512:35 16 Jun21:0020:2016:4519:0018:1015:1519:00 19 May08:3511:05 16 May19:00 28 Jun14:1510:55 02 May01:10 28 Mar00:15 19 Jun02:45 04 Apr12:00 25 Mar23:5501:30 07 May16:45 07 Mar09:25 04 Apr01:30 16 May15:2515:3508:3008:15 13 Mar12:35 25 Jun10:0514:3007:5510:3512:00 10 Jun22:3504:40 07 May11:25 07 Mar07:2504:25 07 Jun20:4514:25 25 May22:3013:2023:2007:4022:5008:15 10 Jun04:25 25 Jun14:35 13 May08:5504:25 19 May18:5019:15 10 May19:00 25 May05:05 16 Mar09:05 13 May04:25 07 Mar09:25 07 Mar01:35 04 Mar09:4016:2510:05 07 May19:15 02 Mar11:10 22 May08:15 13 Jun12:00 07 May17:0504:25 16 Jun17:5023:1001:30 22 May19:15 28 Jun08:4501:30 10 Apr07:45 07 Jun16:1000:55 22 May23:35 22 May04:25 04 Jun20:0000:40 04 Apr18:50 22 Mar08:15 25 May07:55 10 May12:35 28 Jun21:4518:15 13 May14:25 02 May03:2513:15 10 Jun04:25 28 May04:25 28 Mar04:1512:35 04 Apr21:1021:0509:20 07 May10:05 13 Jun01:30 04 Apr18:50 22 May04:25 02 Jun03:35 28 Jun09:45 07 Jun18:0506:50 28 Mar22:0015:15 13 Mar12:0004:40 13 Jun15:3007:40 25 Mar08:5008:0001:35 28 Mar19:3523:3504:25 20 May11:2010:1512:4519:15 07 Jun18:50 04 Mar02:20 28 Apr07:1511:5018:30 25 Mar19:4503:35 02 May19:45 07 Mar21:2002:20 25 Apr20:0509:1019:15 02 Jun19:50 25 May22:2019:15 22 Mar10:1001:00 04 Jun23:5012:2020:2501:35 22 Mar01:30 25 Jun07:55 13 Jun05:05 07 Mar10:05 02 May01:30 07 Jun09:25 10 Apr22:4521:2508:15 10 Mar19:50 13 Jun09:25 04 Mar14:0512:00 07 Jun00:05 07 May01:30 28 May19:5516:20 13 Mar18:15 07 Jun07:0500:05 19 May19:1012:0504:0509:25 07 Jun07:40 07 Jun19:4019:50 22 May19:00 04 Jun01:30 28 Jun17:5517:2500:30 13 Mar19:00 28 May23:4023:0500:05 25 May12:35 10 Apr10:55 10 May19:15 10 Apr00:50 07 Jun13:45 10 Jun00:05 16 Jun09:15 02 Mar02:20 02 Jun20:3507:10 22 Mar09:3514:2008:55 07 Mar04:45 25 Mar06:50 16 May10:3019:2505:35 25 Mar09:00 16 Mar01:35 07 Mar12:35 10 May22:4019:00 02 Jun14:4500:50 19 May13:2521:5505:35 07 Jun10:45 13 Mar12:35 04 Jun07:40 16 Jun10:4004:40 07 Jun07:40 22 May02:20 19 Apr19:15 19 May12:00 13 Jun04:25 22 May04:25 22 Mar13:0022:10 25 Mar09:20 13 May12:35 19 May18:50 10 Mar16:2002:20 13 Apr18:3500:05 10 Apr22:40 07 May05:25 02 Apr22:1512:1012:1504:40 10 Jun19:15 25 Jun04:40 16 May19:50 02 Apr14:0002:15 19 May01:30 16 Jun04:40 13 May01:30 10 Jun04:25 23 Mar12:5019:50 19 May17:1500:40 22 Apr07:3523:4522:1012:35 02 Apr07:40 07 Mar20:20 16 May04:25 04 Mar22:2512:2509:25 28 Jun06:35 28 May08:55 02 May01:20 07 May18:15 10 May18:4507:4509:3019:15 10 Mar18:50 02 Apr10:05 10 May01:30 02 Jun04:2519:10 19 May07:40 02 Jun00:40 02 Mar04:2010:05 25 Mar04:25 11 May10:4504:40 10 May18:1515:15 07 Mar12:35 02 Jun09:25 07 Apr07:40 16 Mar10:50 19 Mar12:00 02 May04:25 10 May00:05 02 May19:00 16 Jun19:00 10 May19:45 28 Mar01:30 02 May23:25 13 Mar14:25 07 Jun07:40 13 Mar22:0505:05 13 Mar04:40 19 May12:15 02 Mar10:40 07 Jun10:45 19 May19:15 28 Mar13:3023:15 25 Mar05:35 19 May10:05 19 May09:45 16 May00:15 28 May13:3522:55 25 Mar14:25 13 May18:30 10 May04:25 03 May17:3516:20 25 Mar08:2018:2509:10 25 Mar10:2000:40 02 Jun00:40 28 Apr16:20 10 Jun19:50 16 May00:15 10 Mar18:10 25 Mar15:5011:3011:05 10 May19:00 22 May23:25 07 Jun23:2504:25 07 May23:35 25 May05:25 10 May01:00 02 Jun09:05 13 Jun14:1000:25 04 Mar01:00 07 Apr14:35 25 May20:45 13 Jun09:45 22 May22:40 22 May18:15 19 May02:20 10 May05:25 16 May01:30 10 May02:15 07 Jun03:1505:25 25 May00:15 28 Mar09:25 10 May15:5513:45 16 May10:05 16 May09:00 07 Mar09:25 10 Mar09:20 25 May10:50 25 Mar21:05 13 May19:15 22 May01:30 13 Jun23:15 13 May00:40 28 Mar04:25 08 Mar23:00 28 Mar00:15 02 Jun19:10 02 Mar19:00 10 Jun12:35 22 May00:15 16 Mar10:05 13 May04:40 22 May16:20 13 May00:25 07 Jun07:55 19 May00:45 02 Mar04:35 28 May00:15 19 May02:20 19 Jun19:15 07 Mar04:35 13 Jun00:45 03 Mar04:40 02 Apr10:45 07 Jun00:25 10 May10:25 07 Mar18:00 16 May22:10 07 Mar18:50 13 May01:20 13 Apr04:40 25 May01:35 10 Mar00:15 16 May07:40 25 Jun12:30 16 May02:10 28 Mar07:40 10 Mar10:50 16 Mar08:15 10 May16:20 22 May07:10 19 May03:35 10 Jun04:25 05 Mar00:20 22 Jun09:45 07 May09:00 02 Mar09:25 25 Jun04:25 13 Jun23:00 22 Apr21:4023:35 02 Apr10:45 25 May23:20 16 Mar08:55 07 May00:40 07 Apr08:55 19 Mar00:15 13 Mar08:4009:05 22 May02:20 28 May07:40 28 May12:00 13 May10:05 22 May01:30 25 May00:05 25 Jun02:20 04 May09:20 02 May03:35 07 Jun18:15 13 Jun04:25 28 Jun07:40 10 Apr16:5509:45 19 May09:20 07 Jun18:30 13 May18:3007:10 07 Mar12:25 13 Mar07:40 10 May09:25 22 May09:45 02 May07:40 28 Jun07:10 28 Apr01:30 04 Jun20:3008:15 13 May19:15 07 May10:55 19 May02:45 07 May10:45 16 May22:35 07 Jun20:25 07 Jun01:30 19 May02:20 25 May19:50 07 May22:10 16 Mar18:00 25 May17:2001:35 02 Mar08:15 19 May19:15 10 Jun11:10 02 Mar00:35 19 Mar02:20 19 May05:25 13 May07:55 16 May20:1506:50 07 Jun12:3010:55 13 Jun07:55 10 Jun14:5013:4016:50 07 Mar09:05 25 May00:40 25 Mar00:05 10 Jun10:05 07 Jun14:2519:15 04 Jun10:55 07 May00:50 16 May06:35 04 Jun02:20 04 Jun04:35 25 Jun10:40 02 Apr09:30 02 Mar18:0000:45 16 Mar12:30 02 May00:20 10 Jun13:45 13 Jun01:20 02 Apr08:15 16 May02:45 19 Jun00:40 02 Apr02:20 04 Mar00:05 28 Mar11:10 16 Mar19:00 07 Jun19:10 13 Mar12:05 16 Mar11:05 04 Apr11:25 13 Mar23:25 19 May00:15 25 Jun22:35 13 Jun12:30 07 Jun09:25 19 May19:15 28 May22:35 25 May09:25 25 May00:15 04 Jun09:25 02 Jun21:05 02 May10:35 02 Mar02:45 25 May02:45 16 May07:55 02 May20:45 07 Jun09:25 04 Jun07:45 02 May09:30 13 Mar21:05 16 May15:05 07 May17:4518:40 16 Mar09:25 28 May19:10 07 Jun09:35 28 May20:20 07 Mar00:05 10 May08:50 13 Mar12:35 07 Jun09:25 16 May04:25 10 Mar10:05 10 Jun03:35 25 Jun19:15 16 Jun16:20 19 May03:1021:05 22 May01:00 04 Apr16:40 13 Mar08:15 02 May09:5008:55 22 May19:40 25 Mar08:15 22 Apr04:25 26 May09:20 02 Apr07:10 07 Jun07:40 04 Jun16:10 13 Mar05:35 22 May20:45 02 Apr01:00 28 May08:15 02 Mar00:15 04 Apr12:00 25 May21:20 07 Mar14:35 13 Jun18:15 25 May22:55 02 Mar14:3508:15 07 Jun07:10 02 Jun09:25 13 Mar09:05 10 Jun14:25 22 May00:15 07 Jun19:10 10 Jun07:45 25 May02:45 16 Apr09:30 16 Mar16:20 07 May18:00 13 May18:00 07 May07:40 19 May07:25 07 Jun12:30 13 Jun09:20 22 May09:05 07 Jun00:15 16 Jun09:25 02 Mar19:00 25 Jun13:45 10 May13:0514:25 16 May07:40 19 Mar08:15 22 May17:4002:10 10 Mar22:35 10 Jun20:40 25 Mar08:15 07 Mar04:25 26 Jun00:15 28 Jun00:50 04 Jun11:10 02 Apr11:10 10 Jun13:00 16 Mar04:35 10 May02:20 07 Apr21:05 07 Jun04:35 04 Jun09:25 28 Mar00:25 10 Mar09:10 13 Mar05:25 07 May20:25 13 Jun12:00 19 May01:20 25 May00:05 25 Apr16:20 02 Apr09:20 16 May02:45 13 May08:55 25 Mar10:55 10 Jun09:15 25 Mar00:25 28 Jun17:1001:20 10 May09:45 10 May01:20 22 May01:20 19 May20:5011:25 19 Mar00:05 07 Apr01:00 22 Jun09:45 10 Jun11:20 13 Mar10:45 02 May00:05 28 May19:10 25 May07:40 02 Mar21:05 10 Jun00:40 19 Mar12:00 02 Apr00:10 19 Mar10:40 10 May10:55 07 Jun01:10 13 Mar04:25 10 Apr20:20 10 Jun18:00 22 May07:40 13 Jun20:20 10 May08:10 25 Mar18:50 13 Jun00:05 19 Jun23:25 02 May08:15 16 Mar10:25 02 Mar20:20 16 Mar16:15 16 May09:20 10 Jun07:40 04 Mar07:40 28 Mar19:15 16 May22:40 13 Jun19:10 07 May00:05 22 May07:45 19 May04:25 29 May22:05 07 May14:35 10 May05:35 13 May00:25 19 Mar20:20 07 Jun09:05 07 May16:0513:45 19 May22:05 22 May20:25 02 Apr05:25 19 May00:05 02 Apr00:15 22 May23:35 10 May18:15 10 Jun16:20 13 Jun10:55 02 Apr00:15 19 Apr00:15 13 May09:25 10 Jun08:55 13 Jun10:00 25 Mar01:20 10 Mar16:3509:05 16 May18:05 13 Mar10:30 25 May01:20 16 Mar10:40 16 May18:00 02 May09:30 07 Mar09:25 02 May11:10 19 May04:40 02 May00:05 04 Apr18:50 10 May23:25 10 Jun23:20 02 Mar07:10 16 May09:20 13 Jun00:40 25 May00:50 22 Jun05:25 10 Jun10:35 07 Mar13:45 25 May00:05 25 Mar20:25 10 Jun20:20 13 Mar07:55 07 May00:50 07 May10:45 10 Jun08:15 04 Mar19:50 07 Jun16:15 02 May00:05 07 Jun00:15 28 Apr09:25 02 Apr00:05 22 Mar10:05 25 May10:45 10 May19:10 07 Mar02:20 16 Apr00:40 04 May00:05 07 Mar00:50 25 May09:45 13 Jun00:25 25 May07:10 22 May04:35 02 Jun10:45 07 May08:15 28 Mar07:10 28 Jun22:05 02 May09:05 02 May13:15 13 Mar00:40 16 Jun00:40 02 May11:10 07 Mar10:55 25 May18:50 25 May10:25 19 Mar05:25 07 Jun08:55 07 Jun18:20 02 Apr04:0023:25 25 Mar00:15 22 Apr10:25 16 Mar00:10 25 Mar01:20 28 May10:30 07 May10:40 13 Jun22:35 22 May20:45 16 May00:15 10 Jun07:55 07 Jun07:40 10 Jun09:00 19 Mar00:40 22 Jun04:25 29 Jun07:10 28 Mar12:30 19 May13:15 07 Jun00:40 10 May21:1522:05 10 Jun16:20 25 May00:05 13 Apr20:20 19 May00:15 02 May01:20 02 Jun07:55 25 May23:35 19 May10:55 16 May20:20 02 Mar00:25 10 Jun02:20 25 Mar07:55 22 May14:4013:45 25 Mar02:15 10 May09:45 13 May16:15 13 May01:10 19 Mar11:05 13 Mar20:20 07 May02:15 16 May10:40 22 May14:35 25 Mar01:20 25 Mar19:00 02 May12:00 10 May12:35 07 May20:45 19 May18:00 07 Jun01:20 25 Jun18:30 02 May10:45 22 May02:20 10 Apr01:20 04 Apr14:35 10 Apr08:15 02 Apr00:40 13 Mar00:50 22 Apr00:40 13 Apr01:00 10 Jun00:55 28 Mar00:55 19 Mar00:40 07 Jun13:00 02 Mar10:45 02 Apr03:35 13 Jun07:10 10 Apr09:45 25 May18:2016:1510:55 13 May00:50 04 May23:35 10 Jun19:10 16 May16:20 07 Jun00:50 02 Jun00:25 02 Jun23:35 07 May09:05 02 Apr00:15 22 Jun00:05 13 Mar08:55 13 Mar07:40 16 May11:05 19 May00:40 16 Mar12:30 22 May09:25 22 Mar19:00 13 Jun09:25 16 Jun18:00 10 May00:40 16 Apr18:50 02 May00:10 22 Mar00:40 04 Jun01:45 22 Mar23:00 19 May00:15 07 May02:45 04 May18:30 22 May01:00 19 Jun18:50 10 Jun11:10 25 Mar08:50 16 Mar09:15 13 Mar02:45 28 Apr07:45 10 Jun16:30 07 Mar13:20 02 Mar01:00 04 May14:25 13 Jun00:15 16 Apr22:05 02 Apr20:20 25 May08:55 10 May08:55 10 Jun00:10 28 Mar22:35 02 Apr18:30 10 Jun18:50 07 Jun23:00 13 Jun10:45 13 Jun02:20 04 Apr02:15 02 Apr06:50 10 May19:50 13 May01:20 19 Mar08:50 19 Mar00:05 04 May00:25 22 May00:05 16 May20:45 07 May00:50 07 Apr00:20 28 May13:45 13 May00:05 22 Jun09:20 19 May00:40 19 Jun05:25 13 Jun00:40 19 Apr10:30 02 Apr22:05 16 May00:40 25 Apr13:45 02 May16:30 16 Mar23:25 13 Jun00:05 04 Jun11:20 02 Mar11:55 07 Mar01:20 10 Jun00:20 13 May14:25 10 May00:15 25 Mar09:50 07 May00:45 08 Mar00:05 19 Apr00:25 19 Jun00:05 02 Jun18:00 13 Jun00:15 02 Apr00:15 13 Apr02:10 04 Mar13:40 25 Mar23:35 13 May01:00 16 Apr20:20 13 May18:00 19 May10:50 07 Mar02:15 07 May00:10 02 Mar00:55 25 Mar16:20 16 May02:20 28 Jun12:15 19 Mar00:25 07 Mar01:20 13 May11:10 25 May09:45 02 Apr02:20 16 Jun13:15 22 May21:05 19 May00:40 19 May07:10 16 Jun23:15 02 Apr11:25 02 Mar06:35 25 Jun08:50 07 Mar00:40 22 Mar00:05 13 May06:50 28 Apr10:35 16 Mar00:25 22 Jun06:50 22 May00:05 02 Mar02:15 10 Jun13:20 13 Mar09:35 04 Jun05:25 02 May12:00 16 May21:05 25 May00:15 25 May01:45 10 Mar01:20 07 Jun10:15 13 Mar07:55 13 May04:25 04 Apr00:50 28 Apr09:50 02 Apr07:40 22 Mar02:45 13 Apr18:50 16 May18:15 02 Apr00:50 02 May01:00 22 May20:45 25 May08:55 13 May15:20 07 May00:05 28 Apr04:25 29 Mar22:55 07 Mar00:15 10 Apr00:05 04 Mar18:25 13 Mar21:05 07 May00:25 13 May00:20 13 Jun01:20 07 Apr23:20 19 Mar11:20 07 Mar01:10 16 Mar12:30 10 Jun07:1020:1012:30 13 May00:55 04 Mar18:00 02 Apr01:00 28 Apr02:10 13 Mar15:0008:55 16 Mar00:50 10 Jun02:45 07 Apr02:20 02 May06:50 10 Jun14:25 10 Jun23:25 02 Mar00:05 28 Jun19:25 07 Mar22:40 16 May00:50 25 Apr01:00 02 May20:25 25 Mar02:15 22 May05:25 22 May19:10 02 May00:15 10 May15:4502:20 22 Mar23:00 07 Mar13:45 22 May11:20 16 Mar00:35 02 Mar20:25 25 May01:20 28 Jun08:55 19 May00:40 07 Mar07:45 10 May11:05 07 Apr02:45 22 Jun00:20 19 Mar12:4023:25 02 Apr00:10 25 Apr00:50 22 May08:55 02 Mar08:55 16 May04:35 19 May11:55 13 Mar14:25 19 May23:35 13 Jun03:35 04 Jun18:00 10 Jun19:15 25 May18:30 02 Apr00:45 07 Mar02:20 13 May15:1000:55 07 Mar13:15 13 May00:25 13 Jun20:45 13 May19:00 02 Apr04:25 25 May07:10 04 Mar02:20 10 Jun18:50 19 May00:50 10 May23:55 02 Mar22:35 19 May00:10 10 Mar02:20 22 Apr12:35 07 Apr21:20 02 Mar00:05 16 Apr15:20 02 Apr03:35 10 May12:00 22 May23:00 22 Mar00:10 16 Mar04:35 28 Jun23:25 16 Mar10:00 07 May00:40 22 May00:20 04 Apr03:35 16 Jun01:10 02 Mar02:20 02 Mar23:35 16 May07:10 10 May09:10 07 Mar07:10 10 Mar01:00 19 Apr02:20 07 May09:15 07 Mar02:20 25 Jun23:00 04 Apr07:10 10 Jun00:40 10 Mar06:50 04 Mar11:05 25 May22:05 13 May00:20 16 May01:20 07 Mar09:25 13 Jun01:10 07 Mar07:55 02 Apr14:35 19 May05:35 10 Jun07:55 25 Mar22:35 25 Mar00:40 25 Jun00:40 10 Jun04:35 22 May02:45 10 Apr01:00 07 May02:20 07 Jun17:20 19 May11:05 22 May10:2500:15 02 Mar00:40 10 Apr08:55 02 Apr19:15 02 May00:50 16 Jun04:35 16 May19:25 13 Mar01:20 16 Jun01:00 19 May09:05 10 May01:00 25 May00:15 04 Mar00:55 22 Mar13:1011:05 13 May02:45 04 Jun11:10 07 May02:20 13 Jun20:45 10 Jun02:45 07 Jun07:45 07 May22:55 16 Mar20:4012:35 02 May18:40 02 Mar03:35 22 May00:40 07 May11:1501:20 22 Mar13:00 19 Mar11:10 10 May14:35 10 Jun11:10 13 Jun14:35 02 May18:15 16 May00:50 16 Apr11:05 02 May11:05 10 Jun12:30 10 May02:15 13 May02:45 02 May19:50 10 Jun02:20 22 Jun18:15 22 May11:10 07 Jun06:50 28 Jun23:00 13 Mar00:40 28 Jun01:20 22 Jun06:50 02 Jun18:30 19 May00:25 25 Jun00:25 28 May23:25 22 May00:10 10 Apr14:35 16 May13:15 19 May23:35 07 Jun01:00 10 Apr01:00 13 May04:35 07 Jun22:05 25 May20:25 07 May00:25 07 May07:25 22 May00:05 16 Mar00:25 19 May02:20 13 Mar02:10 02 Mar20:20 02 May02:45 02 Jun07:10 13 Jun22:55 19 Mar04:35 16 Jun18:30 25 May01:30 25 Apr01:00 28 Jun20:20 13 Jun04:25 02 May00:25 16 Jun00:55 16 Mar02:20 28 Mar07:45 16 May00:05 10 Mar01:20 04 Jun16:15 25 Mar02:45 28 Jun04:25 23 May19:00 10 Apr00:55 02 Mar10:05 02 Apr00:40 13 Jun01:20 19 Apr15:05 02 Apr00:40 04 Mar02:10 25 Mar02:45 10 Jun10:55 22 May18:30 07 May18:30 07 Jun20:25 19 May09:25 07 May10:45 13 May04:4501:20 13 Mar18:30 13 Jun11:10 13 May00:35 07 Mar00:50 10 Apr03:40 13 Mar23:20 13 Mar10:00 02 Apr21:05 10 May22:40 25 May02:45 19 May03:35 28 May23:25 25 May10:40 13 May02:10 07 Mar23:00 16 May01:20 16 May13:55 13 Mar00:50 13 Apr00:25 04 Jun10:40 02 May00:15 04 May19:00 07 May11:20 19 Mar08:55 25 May20:25 16 May01:20 28 Mar10:0000:25 04 May04:40 04 Apr23:00 02 Mar14:35 22 May22:55 02 Apr00:20 04 Mar08:15 10 Apr20:20 02 Apr20:20 22 May23:35 02 May01:30 02 Apr02:15 25 May00:05 22 Apr02:45 22 May01:20 02 May01:20 19 Jun02:45 22 Apr02:45 28 May01:20 28 Apr01:00 16 May06:50 07 Mar00:45 13 Mar08:50 02 Mar13:20 16 Mar12:30 25 Mar01:20 22 Apr19:10 22 May00:50 28 May11:05 25 Mar12:05 02 Mar13:15 10 May00:35 16 Mar12:30 25 May00:40 28 May12:25 07 Mar11:05 07 Jun00:15 22 Mar00:25 16 May01:10 10 Mar19:55 13 Mar06:50 25 Jun02:15 13 Jun11:05 10 Apr00:40 16 May01:00 25 Apr00:25 28 Mar00:25 25 Mar22:05 19 May01:30 07 Apr23:25 13 May03:35 16 May03:35 10 Apr01:10 25 Mar02:20 16 Mar06:50 28 May21:05 25 Mar18:45 25 Mar00:55 10 Mar02:45 19 Apr19:10 13 May10:40 10 Jun14:35 07 Jun02:20 10 Mar00:45 19 Mar17:20 16 May00:50 13 May02:45 13 Jun23:00 10 Mar04:25 17 Jun16:0011:05 13 Jun11:35 16 Mar08:45 07 Mar22:35 16 May18:50 08 Mar01:00 13 Jun11:10 02 May00:50 25 Jun00:50 19 Jun05:35 10 May02:10 22 Mar03:35 28 Apr00:50 28 Jun22:40 07 Jun06:50 10 Mar00:05 19 Mar21:20 13 Mar02:45 25 Jun01:20 04 Mar02:15 02 May18:50 07 May00:15 13 Jun01:00 25 Jun01:30 16 Apr03:35 07 May00:15 07 Mar11:10 16 May00:55 13 Mar02:20 07 Mar00:55 10 Apr11:35 07 Mar10:15 19 Mar13:45 07 Jun21:20 16 Mar01:00 07 Jun07:45 22 May01:20 16 Apr17:20 13 Jun02:10 16 Mar06:35 07 May00:20 28 Mar16:15 19 May01:10 04 Mar06:50 16 Jun18:4023:00 16 Mar23:25 07 May04:25 11 Mar00:25 22 Mar00:05 13 Jun23:25 10 May10:40 25 Mar22:40 02 May01:00 10 May23:45 13 Mar01:00 22 Apr02:20 22 May19:10 02 Apr01:00 16 Jun08:15 28 Jun00:10 04 Mar00:20 04 Jun02:20 02 Apr00:50 04 Apr11:35 02 Mar00:40 13 May00:15 25 Apr23:25 16 May19:55 07 Mar00:25 02 Mar23:55 13 Mar07:45 02 Apr00:15 07 Apr00:50 02 Apr22:55 10 Jun09:35 25 Jun01:20 13 Jun21:05 13 Jun01:00 02 Apr02:20 19 Mar07:10 25 May01:20 25 Apr00:20 16 Mar02:45 25 Apr10:40 25 May00:25 02 May22:40 13 May01:20 02 Mar10:20 02 Mar10:00 10 Jun06:50 13 Jun10:40 07 May23:00 10 May06:50 04 Jun22:35 13 May02:10 19 Mar16:15 10 Jun00:20 25 Jun02:45 16 Jun08:15 02 Jun03:35 19 May01:20 10 Apr21:05 02 Apr02:20 16 May20:45 22 May02:45 10 May22:40 10 May01:00 13 Apr03:35 25 May00:15 19 Mar18:30 16 May01:20 04 May22:40 19 May10:40 19 May23:00 04 Mar00:50 13 Jun20:25 13 May04:35 10 Jun06:50 19 May02:45 02 Apr00:50 19 Apr13:00 07 Mar00:20 07 Mar00:20 02 Apr07:45 13 May'

In [ ]:
final_df['Arrival_Time'].str.split(' ').str[0]

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [ ]:
final_df['Arrival_Time']=final_df['Arrival_Time'].str.split(' ').str[0]

In [ ]:
final_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [ ]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

We have to take out the hour and minutes from the arrival_time to convert this into integer

In [ ]:
final_df['Arrival_hour']=final_df['Arrival_Time'].str.split(':').str[0]
final_df['Arrival_min']=final_df['Arrival_Time'].str.split(':').str[1]

In [ ]:
final_df['Arrival_hour'].astype(int)
final_df['Arrival_min'].astype(int)

0       10
1       15
2       25
3       30
4       35
        ..
2666    25
2667    55
2668    25
2669    15
2670    15
Name: Arrival_min, Length: 13354, dtype: int64

In [ ]:
final_df['Arrival_hour']=final_df['Arrival_hour'].astype(int)
final_df['Arrival_min']=final_df['Arrival_min'].astype(int)

In [ ]:
final_df.drop('Arrival_Time',axis=1,inplace=True)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Duration         13354 non-null  object
 6   Total_Stops      13353 non-null  object
 7   Additional_Info  13354 non-null  object
 8   Price            10683 non-null  float64
 9   Date             13354 non-null  int64
 10  Month            13354 non-null  int64
 11  Year             13354 non-null  int64
 12  Arrival_hour     13354 non-null  int64
 13  Arrival_min      13354 non-null  int64
dtypes: float64(1), int64(5), object(8)
memory usage: 2.0+ MB

Doing the same thing for the dept_time

In [ ]:
final_df['dep_hour']=final_df['Dep_Time'].str.split(':').str[0]
final_df['dep_min']=final_df['Dep_Time'].str.split(':').str[1]
final_df['dep_hour']=final_df['dep_hour'].astype(int)
final_df['dep_min']=final_df['dep_min'].astype(int)
final_df.drop('Dep_Time',axis=1,inplace=True)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Date             13354 non-null  int64
 9   Month            13354 non-null  int64
 10  Year             13354 non-null  int64
 11  Arrival_hour     13354 non-null  int64
 12  Arrival_min      13354 non-null  int64
 13  dep_hour         13354 non-null  int64
 14  dep_min          13354 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 2.1+ MB

In [ ]:
final_df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,dep_hour,dep_min
0,IndiGo,Banglore,New Delhi,BLR ? DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,19h,2 stops,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35,16,50

In [ ]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [ ]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

In [ ]:
final_df[final_df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,dep_hour,dep_min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [ ]:
final_df.drop('Route',axis=1,inplace=True)

In [ ]:
final_df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

Now for duration column convert it info minutes

In [ ]:
final_df['Duration_hour']=final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [ ]:
final_df[final_df['Duration_hour']=='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,dep_hour,dep_min,Duration_hour
6474,Air India,Mumbai,Hyderabad,5m,2.0,No info,17327.0,6,3,2019,16,55,16,50,5m
2660,Air India,Mumbai,Hyderabad,5m,2.0,No info,NaN,12,3,2019,16,55,16,50,5m

In [ ]:
final_df.drop(6474,axis=0,inplace=True)
final_df.drop(2660,axis=0,inplace=True)

In [ ]:
final_df['Duration_hour']=final_df['Duration_hour'].astype('int')

In [ ]:
final_df['Duration_hour']=final_df['Duration_hour']*60

In [ ]:
final_df['Duration_min']=final_df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [ ]:
final_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,dep_hour,dep_min,Duration_hour,Duration_min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20,120,50
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50,420,25
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25,1140,NaN
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5,300,25
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50,240,45

In [ ]:
final_df['Duration_min']=final_df['Duration_min'].fillna(0)
final_df['Duration_min'] = final_df['Duration_min'].astype(int)
final_df['Duration_min'] = final_df['Duration_min'] + final_df['Duration_hour']

In [ ]:
final_df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,dep_hour,dep_min,Duration_hour,Duration_min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20,120,170
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50,420,445
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25,1140,1140
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5,300,325
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50,240,285

In [ ]:
final_df.drop('Duration',axis=1,inplace=True)
final_df.drop('Duration_hour',axis=1,inplace=True)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13351 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  object
 1   Source           13351 non-null  object
 2   Destination      13351 non-null  object
 3   Total_Stops      13350 non-null  float64
 4   Additional_Info  13351 non-null  object
 5   Price            10681 non-null  float64
 6   Date             13351 non-null  int64
 7   Month            13351 non-null  int64
 8   Year             13351 non-null  int64
 9   Arrival_hour     13351 non-null  int64
 10  Arrival_min      13351 non-null  int64
 11  dep_hour         13351 non-null  int64
 12  dep_min          13351 non-null  int64
 13  Duration_min     13351 non-null  int64
dtypes: float64(2), int64(8), object(4)
memory usage: 1.5+ MB

**Now do the label encoding**

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
final_df['Airline']=labelencoder.fit_transform(final_df['Airline'])
final_df['Source']=labelencoder.fit_transform(final_df['Source'])
final_df['Destination']=labelencoder.fit_transform(final_df['Destination'])
final_df['Additional_Info']=labelencoder.fit_transform(final_df['Additional_Info'])

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13351 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  int64
 1   Source           13351 non-null  int64
 2   Destination      13351 non-null  int64
 3   Total_Stops      13350 non-null  float64
 4   Additional_Info  13351 non-null  int64
 5   Price            10681 non-null  float64
 6   Date             13351 non-null  int64
 7   Month            13351 non-null  int64
 8   Year             13351 non-null  int64
 9   Arrival_hour     13351 non-null  int64
 10  Arrival_min      13351 non-null  int64
 11  dep_hour         13351 non-null  int64
 12  dep_min          13351 non-null  int64
 13  Duration_min     13351 non-null  int64
dtypes: float64(2), int64(12)
memory usage: 1.5 MB